@font-face {
  font-family: "IBMPlexMono-Thin";
  src: local("IBMPlexMono-Thin"),
    url("./IBMPlexMono-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: local("IBMPlexMono-Regular"),
    url("./IBMPlexMono-Regular.ttf") format("truetype");
}
